extends ../components/base/layout

block variables
  - const title = "" //- на страницах кроме главной используйте О нас —
  - const wrapperMods = ""
  - const hasHeader = ""
  - const headerMods = ""
  - const hasFooter = ""
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
